<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PolarGigs</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='find_service.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <nav class="navbar">
            <ul>
                <li><a href="/auth">PolarGigs</a></li>
                <li class="right-nav"><a href="/services"><span class="material-icons">add_business</span>Create a Service</a></li>
                <li><a href="#footer-contact"><span class="material-icons">mail</span>Contact</a></li>
                <li>
                    <a href="javascript:void(0)" class="open-button" onclick="openLogoutForm()"><span class="material-icons">logout</span>Logout</a>
                    <div class="logout-popup" id="logoutForm">
                        <form action="/logout" method="POST" class="logout-container">
                            <h1>Logout</h1>
                            <button type="submit" class="btn-primary form-btn">Logout</button>
                            <button type="button" class="btn-secondary form-btn" onclick="closeLogoutForm()">Close</button>
                        </form>
                    </div>
                </li>
                <li><a class="disabled-nav"><span id="user-avatar"></span><span id="nav-user-name"></span></a></li>
            </ul>
        </nav>

        <div class="website-content">
            <div class="find-service-container">
                <h1>Find a Service</h1>
                <input type="text" id="search-bar" placeholder="Search for a service..." onkeyup="filterServices()">
                <div class="services-list">
                    {% for service in services %}
                        <div class="service-card">
                            <div>
                                <img src="{{ url_for('static', filename='uploads/' + service.service_image) }}" alt="{{ service.service_name }}">
                                <h2>{{ service.service_name }}</h2>
                                <p>{{ service.service_description }}</p>
                                <p>Contact: {{ service.contact }}</p>
                                <p>Price: {{ service.service_price }}</p> 
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>

        <footer class="footer">
            <div class="footer-container">
                <div class="footer-info">This website has no official affiliation with Bowdoin College.</div>
                <div id="footer-contact">
                    <h2>Contact Us</h2>
                    <p>(555) 555-5555</p>
                    <p>polargigs@gmail.com</p>
                </div>
                <div class="footer-socials">
                    <h2>Follow Us</h2>
                    <a href="https://www.instagram.com/?hl=en">Instagram</a>
                    <a href="https://x.com/">Twitter</a>
                    <a href="https://www.facebook.com/">Facebook</a>
                </div>
            </div>
        </footer>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script>
            async function getCurrentUser() {
                const response = await fetch('/me');
                if (response.status === 401) {
                    window.location.href = '/';
                    return;
                }
                const data = await response.json();
                document.getElementById('nav-user-name').innerText = data.user.name;
                const names = data.user.name.split(' ');
                const initials = names[0][0] + names[1][0];
                document.getElementById('user-avatar').innerText = initials;
            }

            getCurrentUser();
        </script>
    </body>
</html>